body {
    padding: 5px;
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
    background-color: #111111;
}

a {
    color: #00B7FF;
}

table {
    font-family: Tahoma, serif;
    font-size: 12pt;
    border: darkslategrey;
    padding: 5px;
    width: 100%;
}

td {
    align-items: center;
    text-align: center;
    margin: 5px;
    padding: 3px;
}

thead {
    background-color: grey;
    color: white;
}
